@model IEnumerable<EAttendance.Models.Attendance>

@{
    ViewData["Title"] = "Index";
    var rowIndex = 1;
}

<h5>Attendance List</h5>


<table class="table">
    <thead>
        <tr>
            <th>S/N</th>
            <th>
                Matric No. 
            </th>
            <th>
                Student Name
            </th>
            <th>
                Course
            </th>
            <th>
               Time of Attendance
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@(rowIndex++)</td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.MatricNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
           
        </tr>
}
    </tbody>
</table>
