@model IEnumerable<EAttendance.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Course</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseUnit)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseUnit)
            </td>
            
            <td>
                <form asp-action="DeleteConfirmed" asp-route-id="@item.CourseId" method="post">

                    <button type="submit" onclick="return confirm('Are you sure you want to remove this record?')" title="Delete"><i class="material-icons">delete</i></button>
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>
